<div class = "milestone_container">
   <p><%= f.label :description, "Milestone" %></p>
   <p><%= f.text_area :description, :rows => 2, :class => "text_area" %></p>
   <p><%= f.label :completion_date,"Complete by" %></p>
   <p><%= f.date_select :completion_date, {}, :class => "drop_down" %></p>
</div>

 