<div id="steps">
<p>
  <%= f.label :description, "Step", :class=>"step second"%>
  <%= f.text_field :description %>
  <%= f.label :completion_date, "Complete by"%>
  <%= f.date_select :completion_date%>
</p>
</div>