/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require_self 
*/
@font-face{
	font-family: "dustismo";
	src: url(/assets/stylesheets/dustismo.ttf) format("truetype");
}

@font-face{
	font-family: "Forque";
    src: url(/assets/stylesheets/Forque.ttf) format("truetype");	
}

body{
	background: #060213 url(/assets/glowstars.png) top;
	background-repeat: repeat-x;
	font-family: tahoma;	
}

input[type="submit"]{
	margin: 10px;
	font-family: dustismo.ttf, helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #ffffff;
	line-height: 1;
	padding: 14px;
	border: none;
	background-color: #1b6cb9;
	-webkit-border-radius: 31px;
	-moz-border-radius: 31px;
	-o-border-radius: 31px;
	border-radius: 31px;
}

input[type = "submit"].commentSubmit {
	margin: 10px;
	font-family: dustismo.ttf, helvetica, arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #ffdcb8;
	line-height: 1;
	border: none;
	background-color: #1b6cb9;
	-webkit-border-radius: 31px;
	-moz-border-radius: 31px;
	-o-border-radius: 31px;
	border-radius: 31px;
}

input[type="submit"].milestoneButton{
	background-image: url(/assets/completed.png);
	background-repeat: no-repeat;
	background-color: transparent;
	color: #000000;
	height: 60px;
	width: 400px;
	line-height: 1;
	border: none;
}

#select_a_goal input.Go{
	font-size: 40px;
}


.drop_down{
	font-family: dustismo, helvetica, arial, sans-serif;
	height: 60px;
	width: 600px;	
	font-size: 40px;	
}


select{
 width: 175px;
	height: 30px;
	border-style: inset;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 15px;
}

#sign_in{
	font-family: dustismo, helvetica, arial, sans-serif;
	font-size: 25px;
	border-style: groove;
	padding-bottom: 60px;
	text-align: center;
	width: 900px;
	height: 200px;
	padding-top: 70px;
	margin: auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#user_info{
	text-align: left;
	margin: 40px;
	border-style: groove;
	padding: 40px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#user_info input.field{
	width: 400px;
	font-size: 40px;
	font-family: dustismo, helvetica, arial, sans-serif;
}

.field_label{
	font-family: dustismo, helvetica, arial, sans-serif;
	width: 400px;
	font-size: 40px;
	color: #ffffff;
	padding: 12px;
	margin: auto;
}

.changeborder:focus { 
    outline:Yellow Solid 4px; 
}


#allcontent{	
	padding: 50px;
}

#maincontent header{
	padding-top:105px;
}

#maincontent header img{
	margin-left: 50px;
}
#maincontent #user_bar{
	float:right;
	margin-right: 10px;
}


#maincontent{
	background-color: white;
	width: auto;
	height: auto;
	margin-top: none;
	padding-top: none;
	margin-left: 150px;
	margin-right: 150px;
}
#maincontent footer{
	background-image: url(/assets/connect_yellow.png);
	height: 200px;
	margin-bottom: none;
	margin-top: 140px;
	margin-bottom: 40px;
}

#maincontent input{
	font-family: dustismo, helvetica, arial, sans-serif;
	font-size: 20px;
}


#text{
	margin: 15px;
	padding: 25px;
	background-color: #eae7e3;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#select_a_goal{
	border-style: groove;
	padding-bottom: 60px;
	text-align: center;
	width: 900px;
	height: 350px;
	padding-top: 70px;
	margin: auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#select_a_goal p{
	font-family:  Forque, helvetica, arial, sans-serif;
	font-size: 80px;
	color: #b9245b;
}

#homeTitle {
	border-style: groove;
	background-image: url(/assets/connect.png);
	font-size: 70px;
	width: 800px;
	height: 350px;
	margin: auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#homeTitle h1{
	font-style: dustismo, helvetica, Arial, sans-serif;
}


#your_milestones{
	font-size: 25px;
	line-height: 30px;
	width: auto;
	height: 450px;
	padding: 15px;
    margin-bottom: 40px;
}

#yourMilestonesTitle{
	background-color: #ff1b2a;
	width: 450px;
	height: auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	text-align: left;
	padding: 15px;	
}

#yourMilestonesTitle h3{
	font-size: 30px;
}

#todays_comments li {
	list-style-image: url(/assets/quotebubble.png);
	border-style: groove;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 25px;
	line-height: 30px;
	margin: 20px;
	padding: 15px;
	width: 500px;
	
}

#todays_comments {
	float: left;
	width: 50%;
}

#others_comments {
	float: left;
	width: 50%;
}

#others_comments li {
	list-style-image: url(/assets/bubble2.png);
	border-style: groove;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 25px;
	line-height: 30px;
	margin: 20px;
	padding: 15px;
	width: 500px;
}

.comment_header{
	background-color: #fff4db;
	font-size: 20px;
	padding: 15px;
	margin: 50px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#your_milestones li{
	background-color: #fff4db;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 25px;
	line-height: 30px;
	margin: 20px;
	padding: 15px;
}

.milestoneDescription{
	font-size: 40px;
}

#lower_section{
	clear: both;
}

h1 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 65px;
	color: #e41b2f;
	text-align: center;
	height: 80px;
	width: auto;
}

h2{
	font-family: dustismo, Helvetica, Arial, sans-serif;
	font-size: 55px;
	color: #ff2929;
	text-align: center;
}

h3.yourMilestones{
	font-family: dustismo, Helvetica, Arial, sans-serif;
	font-size: 35px;
}

h4{
	color: #060213;
}
h5{
	color: #060213;
}

p{
	color: #060213;
}

label{
    background-color: #ff4246;
    font-family: dustismo, helvetica, Arial, sans-serif;
    font-size: 30px;
    padding: 15px;
    margin: 10px;
	padding: 8px 15px;
	font-family: dustismo.ttf, helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	line-height: 1;
	border: none;
	-webkit-border-radius: 31px;
	-moz-border-radius: 31px;
	-o-border-radius: 31px;
	border-radius: 31px;
}
	
	




